
{% extends 'base.html' %}


{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/about_me.css' %}">
{% endblock %}


{% block head %}
    <title>About Me</title>
{% endblock %}

{% block content %}
<div class = "site-container">
    <div class="about-me-container">
        <div class="about-me-image">
            <img src="/media/logo/VeenaKommu.png" alt="Logo">
        </div>
        <div class="about-me-info">
            <h2>About Me</h2>
            <p>
            Hello 👋 My name is Veena Kommu! 
            I am a second year Computer Science and Engineering Student at UCLA. 
            Some of my hobbies include running, playing with my dog Argo, and trying new food with friends :D.
            </p>
            <h2>Profiles</h2>
            <div class="about-me-links">
                <a href="https://github.com/vkommu1" target="_blank">
                    <img src="/media/logo/github.png" alt="Logo">
                </a>
                <a href="https://www.linkedin.com/in/veenakommu/" target="_blank">
                    <img src="/media/logo/linkedin_logo.png" alt="Logo">
                </a>
                <a href="mailto:vkommu@g.ucla.edu">
                    <img src="/media/logo/mail_logo.png" alt="Logo">
                </a>
            </div>
        </div>
    </div>

    <div class="message-statement-container">
        <div class="message-statement-info">
            <h1>Message Statement</h1>
            <p>
            This website aims to promote transparency and equity in popular artificial intelligence models.
            <br>
            <br>
            <b>How it works 🤔❓</b>
            <br>
            <br>
            <text> 
                We run 25 queries on Gemini in the format "Give me an [object] and describe it using [feature 1] and [feature 2]".
                We then look at the proportions of this object and again query Gemini with "Give me an estimate of real-world proportions of [feature] in comparison to all [object]".
                We hope that this provides insight into any bias Gemini might have when generating text with regards to certain subjects. 
            </text>
            <h2>Future Directions</h2>
            <text> 
                I was a little limited by time, since I just got introduced to the hackathon by devpost, as well as the amount of free credits each of the api's that I used provided. 
                With more credits, I would love to be able to run more tests at a faster rate so that the data is fairly representative of what a user could expect when utilizing the API.
                I will also be working on implementing transfer learning on top, so that people or businesses can aim to address the bias and perhaps finetune each API to fit their needs better.
                I would like to compile real-world statistics for commonly used datasets,such as those on race, gender, etc. so that I can compare Gemini's output to a real-world distribution.
                Finally I would like to add more comparison metrics between the apis. For example average time to respond.
            </text>
            <h2>Disclaimer</h2>
            <p>
                <text> 
                    This website utilizes AI to generate data. As a result, the "real-world" statistics should be viewed as the model's ideation of the world rather than fact.
                    Until, real-world datasets have been added to the website, I encourage users to compare the AI proportions to their own findings. 
                </text> 

            </p>
    </div>
</div>
{% endblock %}
