{% extends 'base.html' %}


{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/about_me.css' %}">
{% endblock %}


{% block head %}
    <title>About Me</title>
{% endblock %}

{% block content %}
<div class = "site-container">
    <div class="about-me-container">
        <div class="about-me-image">
            <img src="/media/logo/VeenaKommu.png" alt="Logo">
        </div>
        <div class="about-me-info">
            <h2>About Me</h2>
            <p>
            Hello 👋 My name is Veena Kommu! 
            I am a second year Computer Science and Engineering Student at UCLA. 
            Some of my hobbies include running, playing with my dog Argo, and exploring new cuisines with friends :D.
            </p>
            <h2>Profiles</h2>
            <div class="about-me-links">
                <a href="https://github.com/vkommu1" target="_blank">
                    <img src="/media/logo/github.png" alt="Logo">
                </a>
                <a href="https://www.linkedin.com/in/veenakommu/" target="_blank">
                    <img src="/media/logo/linkedin_logo.png" alt="Logo">
                </a>
                <a href="mailto:vkommu@g.ucla.edu">
                    <img src="/media/logo/mail_logo.png" alt="Logo">
                </a>
            </div>
        </div>
    </div>

    <div class="message-statement-container">
        <div class="message-statement-info">
            <h1>Message Statement</h1>
            <p>
            This website aims to promote transparency and equity in popular artificial intelligence models.
            <br>
            <br>
            <b>How it works 🤔❓</b>
            <br>
            <br>
            <text> 
                We then look at the proportions of this object and again query Gemini with "Give me an estimate of real-world proportions of [feature] for this [object]".
                We hope that this provides insight into any bias Gemini might have when generating text with regards to certain subjects.  For example, when we ask Gemini to generate some humans with feature gender and race 
            </text>
            <h2>Future Directions</h2>
            <text> 
                I had to overcome a couple of limitations: I just got introduced to the hackathon by devpost late last week; the amount of free credits also limited my development and test time for each of the api's that I used.
                With more credits, I would love to be able to run more tests at a faster rate so that the data is fairly representative of what a user could expect when utilizing the API.
                In the future, I will also be working on implementing transfer learning on the Gemini models, so that people or businesses can aim to address the biases for their use case and finetune each API to better fit their needs.
                I currently have the limitation that I am querying Gemini or other models I use for comparison with Gemini for real world statistics. While the results seem to be agreeing with statistics on sites like the census results, it still may not be totally accurate. Therefore, I would like to compile real-world statistics for commonly used datasets,such as those on race, gender, etc. so that I can compare Gemini's output to a real-world distribution.
                Finally I would like to add more comparison metrics between the apis. For example, the average time to respond to queries. I found that Gemini returns the query results much faster than openai api.
            </text>
            <h2>Disclaimer</h2>
            <p>
                <text> 
                    This website utilizes AI to generate data. As a result, the "real-world" statistics should be viewed as the model's ideation of the world rather than fact.
                    Until real-world datasets have been added to the website, I encourage users to compare the AI proportions to their own findings. 
                </text> 

            </p>
    </div>
</div>
{% endblock %}
