.whole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.title-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 200px;
  margin: auto;
}

.title-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1em; /* Adjust if needed */
}

.home-title {
  -webkit-text-stroke: 6px #53473e;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: #cec9cb;
  margin-bottom: 1em; /* Adjust if more space is needed between title and image */
}

.slogan-container {
  margin-top: 1em;
}

.slogan {
  -webkit-text-stroke: 6px #53473e;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #cec9cb;
}
