{% extends "base.html" %}

{% block head %}
<title>Your Profile</title>
{% endblock %}

{% block content %}
<div class="content-section">
    <h2 class="user-back">Welcome Back @{{ profile_user.username }}!</h2>
    <p class="date-userhood">Joined {{ profile_user.date_joined.date }}</p>
    {% if profile.profile_picture %}
    <div class="square">
        <img src="{{ MEDIA_URL }}{{ profile.profile_picture }}" alt="Profile Picture">
    </div>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <a class="add-pfp" href="{% url 'profiles:upload_profile_picture' profile_user.id %}">Add a Profile Picture</a>
    </form>
    
    <h2 class="header-1">Feedback Results</h2>
    {% if feedback_results %}
    <div>
      {%for feedback in feedback_results %}
      <div>
            <p>Input Text: {{feedback.input_text }}</p>
            <p>Feature 1: {{ feedback.feature_1 }}</p>
            <p>Feature 2: {{ feedback.feature_2 }}</p>
            <p>Feedback: {{ feedback.feedback }}</p>
            <p>Uniform Distribution: {{ feedback.uniform }}</p>
            <p>Real World Proportions: {{ feedback.real_world_proportions }}</p>
            {% if feedback.unique_id %}
            <form action="{% url 'api_interaction:delete_feedback' feedback.unique_id %}" method="post">
              {% csrf_token %}
              <button type="submit"> Delete </button>
            {% else %}
              <p> Warning: no unique identifier found </p>
            {% endif %}
        </div>
      {%endfor%}
    </div>  
  {% else %}
    <p>No feedback results available.</p>
  {% endif %}

  {% endblock %}